<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.piano.android.oauth">

    <uses-permission android:name="android.permission.INTERNET" />

    <application>
        <activity
            android:name=".ui.activity.OAuthActivity"
            android:configChanges="orientation|keyboardHidden|screenSize" />
        <activity
            android:name=".ui.activity.PianoIdOAuthActivity"
            android:configChanges="orientation|keyboardHidden|screenSize" />
        <activity
            android:name="io.piano.android.oauth.ui.activity.PianoIdOAuthRedirectActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTask" />
    </application>
</manifest>
